<header>
    <section id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1>
                        <a href="index.html">
                            <img src="~/Uploads/Logos/main_logo.png" height="110" alt="Logo alt">
                        </a>
                    </h1>
                    <div class="navigation">
                        <nav>
                            <ul class="sf-menu">
                                <li><a href="/">anasayfa</a></li>
                                <li><a href="/Hakkımda">hakkımda</a></li>
                                <li><a href="/Article">makaleler</a></li>
                                <li><a href="/Home/DietForm">online diyet formu</a></li>
                                <li><a href="/Home/Contact">iletişim</a></li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>        